/*
Overriding semantic UI fonts to prevent font performance issues
which makes examples clearer.
*/
#react-content *{
  font-family: Arial;
}

#react-content .icon {
  font-family: 'Icons';
}

#react-content .products .icon {
  font-size: 2em;
}

#react-content .products .category-title {
  margin-top: 10px;
}

#react-content .products {
  text-align: center;
}

#react-content .icon.search {
  margin-left: -40px;
  margin-top: 7px;
  font-size: 1.2em;
}

.main.container {
  margin-top: 7em;
}

.ui.positive.basic.button {
  display: block;
  margin-top: 10px;
}

.cart .right.aligned.content {
  text-align: right;
}
